* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

:root {
  --primary-100: #e2e0f7;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --headingFont: "Raleway", monospace;
  --bodyFont: "Raleway", monospace;
  --smallText: 0.7em;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.hero {
  background: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 8%;
}
nav .menu-img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}
nav .logo {
  width: 160px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
button {
  background: #efefef;
  height: 30px;
  width: 60px;
  border-radius: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s, margin-left 0.5s;
}
button span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
}
.lamp-container {
  position: absolute;
  top: -20px;
  left: 22%;
  width: 200px;
}
.lamp {
  width: 100%;
}
.light {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}
.text-container h1 {
  font-size: 80px;
  font-weight: 400;
}
.text-container a {
  text-decoration: none;
  background: #00986f;
  padding: 14px 50px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  border-radius: 30px;
}
.control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 150px;
}
.control .line {
  width: 250px;
  height: 4px;
  background: #fff;
  margin: 0 20px;
  border-radius: 2px;
}
.control .line span {
  width: 50%;
  height: 8px;
  margin-top: -2px;
  border-radius: 4px;
  background: #00986f;
  display: block;
}
.active {
  background: green;
}
.active span {
  background: #fff;
  margin-left: 31px;
}
.on {
  opacity: 1;
}

.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
.page-footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer .footer-logo,
.page-footer a {
  color: var(--primary-500);
}
